@import "./styles/reset";

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: $background;
  color: $black;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
